<div class="container d-flex justify-content-center">
  <form [formGroup]="miFormulario" (ngSubmit)="transferMoney()" class="mt-5" style="width: 40rem;">
    <div class="form-group mb-3">
      <h2 class="text-info text-center fw-bold mb-3">Transferencias</h2>
      <label class="my-2"><i class="fa-solid fa-dollar-sign text-info mx-1"></i>Valor a depositar</label>
      <input type="number" class="form-control" placeholder="Ingrese el valor a depositar"
        formControlName="transferValue">
      <div class="form-text text-danger" *ngIf="transferValueField?.invalid && transferValueField?.touched">
        <div *ngIf="transferValueField?.errors?.['required']">
          Favor diligenciar el valor a depositar
        </div>
        <div *ngIf="transferValueField?.errors?.['min']">
          No se aceptan números negativos
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="my-2"><i class="fa-solid fa-wallet text-info mx-1"></i>Numero de cuenta</label>
      <input type="number" class="form-control" placeholder="Ingrese el número de la cuenta a la que va a transferir"
        formControlName="transferAccount">
      <div class="form-text text-danger" *ngIf="transferAccountField?.invalid && transferAccountField?.touched">
        <div *ngIf="transferAccountField?.errors?.['required']">
          Favor diligenciar el número de cuenta a transferir
        </div>
        <div *ngIf="transferAccountField?.errors?.['min']">
          No se aceptan números negativos
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info" [disabled]="!miFormulario.valid">
      Transferir
    </button>
  </form>
</div>
