<nav class="nav flex-column">
  <a class="nav-link text-light my-3" [routerLink]="['/pages/myAccount']">My Cuenta</a>
  <a class="nav-link text-light my-3" [routerLink]="['/pages/deposit']">Consignar Dinero</a>
  <a class="nav-link text-light my-3" [routerLink]="['/pages/createAccount']">Crear Cuenta</a>
  <a class="nav-link text-light my-3" [routerLink]="['/pages/withdrawals']">Retirar Dinero</a>
  <a class="nav-link text-light my-3" [routerLink]="['/pages/tranfer']">Transferir Dinero</a>
</nav>


